* {scrollbar-color: #1B7E73 black; scrollbar-width: thin; user-select: none; -moz-user-select: none; font-family: 'ABeeZee';}

body {margin: 0px; overflow-x: hidden; background: url('img/arduino.png') center fixed no-repeat; background-size: cover;}

#contenedor-cabecera {
  z-index: 99;
}

#cabecera {
  width: 100%;
  background: url('img/circuitos.png')fixed center, linear-gradient(rgba(30, 80, 80, 1), rgba(30, 110, 110, 1), rgba(30, 80, 80, 1.0));
  box-shadow: 2px 2px 10px black;
  height: 143px;
  border: thin solid black;
  position: relative;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6 { color: white; }

.icono-lista {list-style: square inside url("img/lista.gif");}

#barra-progreso {animation: cabecera-lights 7s ease-in-out infinite alternate; z-index: 99;}

h1  {
  animation: h1-lights 7s ease-in-out infinite forwards;
  font-size: 400%;
  line-height: 20px;
  text-align: center;
}

h2 {
  font-size: 200%;
  line-height: 5px;
  text-align: center;
}

h3 {
  font-size: 100%;
  text-align: right;
  margin-top: -2%;history
  margin-right: 2%;
}

@keyframes h1-lights {
  1%  {text-shadow: 0 0 10px red }
  14% {text-shadow: 0 0 10px orange;}
  28% {text-shadow: 0 0 10px yellow;}
  42% {text-shadow: 0 0 10px green;}
  56% {text-shadow: 0 0 10px blue;}
  70% {text-shadow: 0 0 10px indigo;}
  84% {text-shadow: 0 0 10px violet;}
  100% {text-shadow: 0 0 10px red;}
}

@keyframes cabecera-lights {
  0%  {box-shadow: 6px 6px 8px 10px red;}
  14% {box-shadow: 6px 6px 8px 10px orange;}
  28% {box-shadow: 6px 6px 8px 10px yellow;}
  42% {box-shadow: 6px 6px 8px 10px green;}
  56% {box-shadow: 6px 6px 8px 10px blue;}
  70% {box-shadow: 6px 6px 8px 10px indigo;}
  84% {box-shadow: 6px 6px 8px 10px violet;}
  100% {box-shadow: 6px 6px 8px 10px red;}
}

#menu-navegacion {
  background: rgba(30,30,30,0.8);
  border: thin solid black;
  width: 100%;
}

.entrada-menu {
  border: none;
  font-family: fantasy;
  cursor: pointer;
  margin-left: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  background: none;
  font-size: 125%;
  color: white;
  text-align: center;
}

.entrada-menu:hover { animation: h1-lights 7s ease-in-out infinite forwards; }

#contenedor-texto-1{
  background: radial-gradient(circle, rgba(23,23,23,1) 0%, rgba(51,51,51,1) 25%, rgba(47,47,47,1) 51%, rgba(73,73,73,1) 80%, rgba(68,68,68,1) 100%);
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 0px 0px 5px 5px;
  border-left: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
  padding-left: 0.2%;
  padding-right: 0.2%;
  padding-bottom: 0.2%;
}

#contenedor-texto-2 {
  border-radius: 0px 0px 5px 5px;
  font-size: 200%;
  border-left: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
  background: rgba(255,255,255,0.8);
}

#div-user-guide {
  background: #363636;
  margin-left: -1%;
  margin-right: -1%;
  margin-bottom: -1.2%;
  padding: 1%;
  text-align: center;
  color: white;
  border-top: thin solid black;
  border-bottom: thin solid black;
}

#lenguages {
    margin-left: 1%;
    text-decoration: underline;
}

.titulo  {
  padding: 2%;
  background: url('img/circuitos.png') fixed center, linear-gradient(rgba(30, 90, 90, 1), rgba(30, 100, 100, 1), rgba(30, 60, 60, 1.0));
  box-shadow: 1px 1px 10px 0.2px black;
  color: white;
  font-size: 30px;
  font-family: fantasy;
  cursor: pointer;
}

.titulo:hover {
  filter: contrast(110%);
  z-index: 1;
}

.collapsable-title {
  margin-top: 1%;
  text-align: right;
  font-size: 75%;
}

.sub-titulo  {
  padding: 3%;
  height: 3%;
  background: url('img/circuitos.png') fixed center, linear-gradient(rgba(30, 90, 90, 1), rgba(30, 100, 100, 1), rgba(30, 60, 60, 1.0));
  box-shadow: 1px 1px 10px 0.2px black;
  color: white;
  font-family: fantasy;
}

.debajo-del-titulo {
  margin: 1%;
  font-size: 20px;
  font-family: fantasy;
}

.debajo-del-titulo:after {
  content: "";
  display: table;
  clear: both;
}

#processing {margin: 0;}
#arduino {margin: 0;}
#mounting {background: #8888; padding: 1%; margin: 0;}
#resultado {background: url("img/matts/41.gif") center no-repeat; background-size: cover; height: 700px;}

.antes-del-slideshow { margin: 0; height: 100%; }

.slideshow {
  width: 100%;
  height: 600px;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: black;
}

.card {
  z-index: 1;
  display: inline-block;
  width: 850px;
  height: 100%;
  border: 3px solid #363636;
  text-align: center;
}

.card::after {
  content: "";
  clear: both;
  display: table;
}

.all-matt {background: url('img/matts/1.jpg');   background-size: cover; z-index: 1;}
.arduino {background: url('img/matts/2.jpg'); background-size: cover; z-index: 1;}
.leds {background: url('img/matts/3.jpg'); background-size: cover; z-index: 1;}
.cargador {background: url('img/matts/4.jpg'); background-size: cover; z-index: 1;}
.resistencia {background: url('img/matts/5.jpg'); background-size: cover; z-index: 1;}
.termoretractil {background: url('img/matts/6.jpg'); background-size: cover; z-index: 1;}
.portatil {background: url('img/matts/17.jpg'); background-size: cover; z-index: 1;}
.montaje37 {background: url('img/matts/37.gif'); background-size: cover; z-index: 1;}
.montaje38 {background: url('img/matts/38.gif'); background-size: cover; z-index: 1;}
.montaje39 {background: url('img/matts/39.gif'); background-size: cover; z-index: 1;}
.montaje40 {background: url('img/matts/41.gif'); background-size: cover; z-index: 1;}
.montaje41 {background: url('img/matts/42.gif'); background-size: cover; z-index: 1;}

.texto-imagenes { color: transparent; font-size: 300%; }

.letra-glossary { animation: h1-lights 7s ease-in-out infinite forwards; }

.img-mounting {width: 49%; border: thin solid grey; border-radius: 2%;}

.mounting-entrada, .mounting-partes {font-size: 110%;}

#mounting-alert {font-size: 140%; text-align: center; margin: 0.5%;}

.mounting-parts {
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5%;
  border: thin solid #363636;
  margin-left: -1%;
  margin-right: -1%;
  padding: 0.2%;
  color: white;
  font-size: 140%;
  background: #555;
}

.mounting-parts:hover {
  background: #333;
}

.mounting-parts-2 {
  background: #555;
  color: white;
  padding: 0.2%;
  margin-left: -1%;
  margin-right: -1%;
  margin-top: 0.5%;
}

.download {
  padding: 1%;
  background: #363636;
  color: white;
}

.download-button {
  font-size: 100%;
  margin-left: 2%;
  border-radius: 5%;
  border: thin solid black;
  cursor: pointer;
  animation: h1-lights 7s ease-in-out infinite forwards;
}

.select {
  font-size: 100%;
  width: 35%;
  border: none;
  border-radius: 5px;
  -webkit-appearance: none;
  text-align: center;
}

.processing-snippet, .arduino-snippet {
  padding: 0.5%;
  background: rgba(36,36,36,0.1);
  font-size: 75%;
  display: none;
  overflow-x: scroll;
}

#comments {
  color: rgba(36,36,36,0.6);
}


#footer {
  margin-top: 2%;
  background: url('img/circuitos.png'), linear-gradient(rgba(30, 100, 100, 1), rgba(30, 100, 100, 1), rgba(30, 100, 100, 1));
  color: white;
  z-index: 3;
  float: left;
}

#design {
  padding: 0.1%;
  font-size: 50%;
  width: 100%;
  background: #151515;
}

#ambilight-footer {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 1%;
  float: left;
  width: 50%;
}

h12{ animation: h1-lights 7s ease-in-out infinite forwards; font-size: 250%; }

h13 { font-size: 170%; margin-left: 1%; }

h14 { font-size: 150%; }

#social {
  text-align: center;
  margin-top: 0.3%;
  margin-right: 1%;
  padding: 0.5%;
  background: #363636;
  float: right;
  width: 40%;
  border: 5px solid black;
}

.meet-us {
  float: left;
  margin-right: 5%;
  margin-left: 10%;
}

#meet-us {
  font-size: 250%;
  text-align: center;
}

.social {
  border-radius: 50%;
  margin-left: 5%;
  width: 7%;
  filter: grayscale(100%);
  cursor: pointer;
  display: inline-block;
  float: left;
}

.social:hover {
  filter: grayscale(0%);
}

/*Economic Valuation*/
table {

  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: thin solid black;
  font-size: 20px;
  text-align: left;
  padding: 8px;
}

th {
  background: rgba(45,107,107,0.8);
  font-size: 110%;
}

td {
  background: rgba(51,153,153,0.65);
}

tr:nth-child(even) {
  background: rgba(45,107,107,0.5);
}
/*Economic Valuation*/
